{% extends "base.html" %}

{% block main %}
<div class="album py-5 bg-light">
<div class="container">
<form action="/cookie/new" method="POST">
  <div class="mb-3">
  <label>Cookie Name</label>
  <input class="form-control" name="name" placeholder="Cookie Name" required>
  </div>
  <div class="mb-3">
  <label>Ingredients</label>
  <div id="ingredients">
    <select class="form-control" name="ingredients">
      {% for ing in ['Add ingredient','flour','sugar','eggs','water','salt','chocolate','raisins','baking powder','nuts','oatmeal','oil'] %}
      <option value="{{ing}}">{{ing}}</option>
      {% endfor %}
    </select>
  </div>
  </div>
  <button class="btn btn-info w-100">Bake!</button>
</form>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
const ingredients = document.querySelector('#ingredients');
const first = ingredients.firstElementChild;

function makeNew() {
  const clone = first.cloneNode(true);
  ingredients.appendChild(clone);
  this.removeEventListener('change', makeNew);
  clone.addEventListener('change', makeNew, {once: true});
}

first.addEventListener('change', makeNew, {once: true});
</script>

{% endblock %}
