{% extends "base.html" %}

{% block main %}
<div class="album py-5 bg-light">
<div class="container">
<form action="/cookie/new" method="POST">
  <div class="form-group">
  <label>Cookie Name</label>
  <input class="form-control" name="name" placeholder="Cookie Name" required>
  </div>
  <div class="form-group">
  <label>Ingredients</label>
  <div id="ingredients">
    <select class="form-control" name="ingredients">
      {% for ing in ['Add ingredient','flour','sugar','eggs','water','salt','chocolate','raisins','baking powder','nuts','oatmeal','oil'] %}
      <option value="{{ing}}">{{ing}}</option>
      {% endfor %}
    </select>
  </div>
  </div>
  <button class="btn btn-info btn-block">Bake!</button>
</form>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
let div = $('#ingredients');
let first = $(div.children()[0]);
function make_new() {
  let clone = first.clone();
  div.append(clone);
  $(this).off('change');
  clone.on('change', make_new);
}
first.on('change', make_new);

</script>

{% endblock %}
